.reset {
    all: unset;
}

.reset, .reset * {
    box-sizing: border-box; /* Ensure padding and borders are included in the total width and height */
}

.reset ul, .reset ol {
    list-style-type: disc; /* 'disc' for UL, 'decimal' for OL */
    list-style-position: outside;
    margin-left: 40px; /* Default indent for lists */
    padding-left: 0;
}

.reset li {
    margin-bottom: 0.5em; /* Adds a small margin below each list item */
}

.reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6 {
    font-weight: bold; /* Most browsers use bold for headers */
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.reset h1 { font-size: 2em; }
.reset h2 { font-size: 1.5em; }
.reset h3 { font-size: 1.17em; }
.reset h4 { font-size: 1.12em; }
.reset h5 { font-size: .83em; }
.reset h6 { font-size: .75em; }

.reset p {
    margin-top: 0;
    margin-bottom: 1em;
}

.reset strong {
    font-weight: 400; /* Ensures bold text for strong tags */
}

.reset em {
    font-style: italic; /* Ensures italic text for em tags */
}

.reset a {
    color: blue; /* Default link color */
    text-decoration: underline; /* Default link decoration */
}

.reset code {
    background-color: #f4f4f4; /* Light grey background for code blocks */
    padding: 2px 4px;
    border-radius: 3px;
}

.reset blockquote {
    border-left: 4px solid #ccc;
    padding-left: 20px;
    margin-left: 0;
    color: #666; /* Grey text to differentiate the quote from other text */
}
