services:
  {{ SERVICE_NAME }}:
    image: {{ CI_REGISTRY_IMAGE }}:{{ CI_COMMIT_REF_SLUG }}
    restart: unless-stopped
    environment:
      API_URL: https://{{ DOMAIN_NAME }}/api
    networks:
      - iber
    labels:
      traefik.enable: "true"
      traefik.http.routers.{{ CI_ENVIRONMENT_NAME }}_{{ SERVICE_NAME }}.rule: Host(`{{ DOMAIN_NAME }}`)
      traefik.http.services.{{ CI_ENVIRONMENT_NAME }}_{{ SERVICE_NAME }}.loadbalancer.server.port: 3000
