# Project: {{ CI_PROJECT_URL }}
# Environment: {{ CI_ENVIRONMENT_NAME|default('') }}

server {
  listen      80;
  server_name {{ DOMAIN_NAME }};

  root /dev/null;

{% if CI_ENVIRONMENT_NAME != 'production' %}
  add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
{% endif %}

  location / {
    proxy_pass http://traefik;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto 'https';
  }

  include snippets/gitlab-{{ CI_PROJECT_ID }}.d/{{ CI_ENVIRONMENT_NAME }}/*.conf;

  access_log                /var/log/nginx/gitlab-{{ CI_PROJECT_ID }}-{{ CI_ENVIRONMENT_NAME }}_access.log;
  error_log                 /var/log/nginx/gitlab-{{ CI_PROJECT_ID }}-{{ CI_ENVIRONMENT_NAME }}_error.log;
}
