@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
background-color: #FEFBF6;
}

.toast-message {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}

.default-grid{
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr)); /* Creates a 6-column grid */
  /* gap-x*/

  grid-column-gap: 28px; /* Sets the gap between grid items, assuming gap-4 corresponds to 1rem */
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 128px;
  padding-right: 128px;
  min-width: 1280px;
  max-width: 1440px;
  width: 100vw;
}

@media screen and (max-width: 639px) {
  .wrapper{
    padding-left: 24px;
    padding-right: 24px;
    min-width: 320px;
    max-width: 640px;
  }
}

.multilevel-menu:hover .multilevel-menu__inner{
  @media screen and (min-width: 639px) {
    display: block;
  }
}

.multilevel-menu__inner{
  display: none;
}


.multilevel-menu__elem:hover .multilevel-menu__elem-title{
    color: rgb(85 157 136);
}
.multilevel-menu__elem:active .multilevel-menu__elem-title{
    color: #1B5C6B;
;
}
.mobile-title @media all and (max-width: 639px){
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 28px;
}
