.react-toggle-track {
    width: 45px;
    background: #999A9F !important;
}

.react-toggle--checked .react-toggle-track {
    background-color: #1B5C6B !important;
}

.react-toggle-thumb {
    border: none;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    box-shadow: none !important;
}
.react-toggle--checked .react-toggle-thumb {
    left: 23px;
}


